/* Website Body */
body {
    margin: 0;
    padding: 0;
}
/* Top Navigation of the Website */
.topNavigation {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.topNavigation li {
    display: inline;
    float: left;
}
.topNavigation li a {
    display: block;
    text-align: center;
    padding: 25px 20px 0px 20px;
    text-decoration: none;
    font-size: 9.5pt;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
}
/* Google Logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 160px;
}
/* Google Searchbar */
.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.search input {
    width: 580px;
    height: 42px;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 50px;
    margin-top: 28px;
}
.search input { 
    text-indent: 40px;
}
.search .fa-search { 
    position: relative;
    top: 42px;
    left: 30px;
}
/* Google Search and Im Feeling Lucky Buttons */
.buttons {
    position: relative;
    display: flex;
    justify-content: center;
}
.buttons button {
    padding: 10px 16px 10px 16px;
    margin: 30px 12px 0px 0px;
    border-radius: 5px;
    border: 1px;
    font-size: 10.5pt;
    color: #404040;
}
/* Bottom Navigation of the Website */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F0F0F0;
}
.bottomNavigation {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.bottomNavigation li {
    display: inline;
    float: left;
}
.bottomNavigation li a {
    display: block;
    text-align: center;
    padding: 13px 0px 13px 30px;
    text-decoration: none;
    font-size: 10.4pt;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
}