/* Website Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 25px 0 25px;
    padding: 0;
}
/* Top Navigation of the Website */
.topNavigation {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.topNavigation li {
    display: inline;
    float: left;
}
.topNavigation li a {
    display: block;
    text-align: center;
    margin: 24px 20px 0 0;
    text-decoration: none;
    font-size: 9.5pt;
    color: inherit;
    color: #505050;
}
body header ul .signIn {
    float: right;
    margin-top: -8px;
    margin-right: -15px;
}
body header ul .signIn a {
    background-color: #4c8bf5;
    padding: 8px 14px 8px 14px;
    font-weight: bold;
    color: white;
}
body header ul li i {
    margin-top: 24px;
    margin-right: 20px;
}
/* Google Logo */
.googleLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 152px;
}
/* Google Searchbar */
.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.search input {
    width: 580px;
    height: 42px;
    background: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 50px;
    margin-top: 28px;
}
.search input { 
    text-indent: 40px;
}
.search .fa-search { 
    position: relative;
    top: 42px;
    left: 30px;
}
.micIcon {
    position: relative;
    width: 12px;
    height: 20px;
    top: 42px;
    right: 35px;
}
/* Google Search and Im Feeling Lucky Buttons */
.buttons {
    position: relative;
    display: flex;
    justify-content: center;
}
.buttons button {
    padding: 10px 16px 10px 16px;
    margin: 30px 12px 0px 0px;
    border-radius: 5px;
    border: 1px;
    font-size: 10.5pt;
    color: #505050;
    background-color:#F0F0F0;
}
/* Bottom Navigation of the Website */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F0F0F0;
}
.bottomNavigation {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.bottomNavigation li {
    display: inline;
    float: left;
}
.bottomNavigation li a {
    display: block;
    text-align: center;
    padding: 13px 0px 12px 30px;    
    text-decoration: none;
    font-size: 10.4pt;
    color: inherit;
    color: #505050;
}
body footer ul .settings {
    float: right;
    margin-right: 30px;
}
body footer ul {
}